<ion-header>
  <ion-toolbar>
    <ion-title>
      www.GameApp.com
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
     Game Developers of Top 5
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\timi.png">

     TiMi Studio Group developer of 
     Call of Duty
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\mihoyo.jpg">
      Mihoyo developer of Genshin Impact
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\code.png">
     CodeMaster developer of GRID Autosport
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\nomada.png">
     Nomada Studio developer of GRIS
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\riot.png">
     Riot Games developer of Legends of Runeterra
    </ion-card-content>
  </ion-card>
</ion-content>