<ion-content>
  <div id="header">
    <img src="assets/14.png"/>
  </div>
  <h1>LOG-IN</h1>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button routerLink="/home" size="small" shape="round">Log in </ion-button>
      <ion-button routerLink="/signup" size="small" shape="round">Sign up </ion-button>
      
</ion-card-content>
</ion-content>




