<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-searchbar></ion-searchbar>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card color="Light">
  <ion-card-content color="primary">
    <iframe width="100%" height="200" src="https://www.youtube.com/embed/Ke90Tje7VS0" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-title>React JS-React Tutorial for Beginners</ion-card-title>
    <ion-card-subtitle>Programming with Moah</ion-card-subtitle>
  </ion-card-content>
  </ion-card>

  <ion-card color="Light">
    <ion-card-content>
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/DLX62G4lc44" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-card-title>Learn react JS - Full Course for Beginners Tutorial 2019</ion-card-title>
      <ion-card-subtitle>freeCodeCamp.org</ion-card-subtitle>
    </ion-card-content>
    </ion-card>

    <ion-card color="Light">
      <ion-card-content>
        <iframe width="100%" height="200" src="https://www.youtube.com/embed/w7ejDZ8SWv8" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ion-card-title>React JS Crash Course (2019)</ion-card-title>
        <ion-card-subtitle>Traversy Media</ion-card-subtitle>
      </ion-card-content>
      </ion-card>

      <ion-card color="Light">
        <ion-card-content>
          <iframe width="100%" height="200" src="https://www.youtube.com/embed/FdAYBwt1z-4" 
          title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <ion-card-title>React JS TUTORIAL #1 - Reactjs Javascript introduction</ion-card-title>
          <ion-card-subtitle>LearnCode.academy</ion-card-subtitle>
        </ion-card-content>
        </ion-card>


</ion-content>
