<ion-header>
  <ion-toolbar>
    <ion-title>
      www.GameApp.com
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
     Top 5 Games Application
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\GarenaWorld.png">
     Call of Duty
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\Genshin.jpg">
      Genshin Impact
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\Grid.jpg">
     GRID Autosport
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\Gris.jpg">
     GRIS
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\Legends.png">
     Legends of Runeterra
    </ion-card-content>
  </ion-card>
</ion-content>
