<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Katolkia is a house rental system.</p>
  <p>Katolkia is a web app where the sellers and potential buyers meet.</p> 
  <p>We ensure the best quality of our services that can help and the satisfy for both of our users and sellers. </p>
 
 <img src="assets\logo-p.png">
 <p>Founded in December 14, 2021</p> 
 <p>Founders: Jhay em Padua, Reymarc Montemayor,Phsylac Jordan, Nicole Villa. </p>
</ion-content>
