<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      New Listings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src=".\assets\1.jpg">
    <ion-card-header>Porac Angeles Pampanga</ion-card-header>
      <ion-card-subtitle>Type: Single Family</ion-card-subtitle>
      <ion-card-subtitle>Address:Phase 2A Porac Pampanga</ion-card-subtitle>
      <ion-card-subtitle>Bedrooms: 3</ion-card-subtitle>
      <ion-card-subtitle>bathroom: 1</ion-card-subtitle>
      <ion-card-subtitle>House: 57 m²</ion-card-subtitle>
      <ion-card-subtitle>House Status: For Rent</ion-card-subtitle>
      <p>₱ 12,000</p>
      <ion-button>SCHEDULE VISIT</ion-button>
    </ion-card>

    <ion-card>
      <img src=".\assets\2.jpg">
      <ion-card-header>Rowhouse Bare</ion-card-header>
        <ion-card-subtitle>Type: Single</ion-card-subtitle>
        <ion-card-subtitle>Address: San Fernando, Pampanga</ion-card-subtitle>
        <ion-card-subtitle>Bedrooms: 1</ion-card-subtitle>
        <ion-card-subtitle>Bathroom: 1</ion-card-subtitle>
        <ion-card-subtitle>House:  40 m² </ion-card-subtitle>
        <ion-card-subtitle>House Status: For Sale</ion-card-subtitle>
        <p>₱ 450,000</p>
        <ion-button>SCHEDULE VISIT</ion-button>
      </ion-card>

      <ion-card>
        <img src=".\assets\3.jpg">
        <ion-card-header>Duplex Loft</ion-card-header>
          <ion-card-subtitle>Type: Single</ion-card-subtitle>
          <ion-card-subtitle>Address: San Fernando, Pampanga</ion-card-subtitle>
          <ion-card-subtitle>Bedrooms: 1</ion-card-subtitle>
          <ion-card-subtitle>Bathroom: 1</ion-card-subtitle>
          <ion-card-subtitle>House:   55 m² </ion-card-subtitle>
          <ion-card-subtitle>House Status: For Sale</ion-card-subtitle>
          <p>₱ 750,000</p>
          <ion-button>SCHEDULE VISIT</ion-button>
        </ion-card>

        <ion-card>
          <img src=".\assets\3.jpg">
          <ion-card-header>Duplex Loft</ion-card-header>
            <ion-card-subtitle>Type: Single</ion-card-subtitle>
            <ion-card-subtitle>Address: San Fernando, Pampanga</ion-card-subtitle>
            <ion-card-subtitle>Bedrooms: 2</ion-card-subtitle>
            <ion-card-subtitle>Bathroom: 1</ion-card-subtitle>
            <ion-card-subtitle>House:   55 m² </ion-card-subtitle>
            <ion-card-subtitle>House Status: For Sale</ion-card-subtitle>
            <p>₱ 750,000</p>
            <ion-button>SCHEDULE VISIT</ion-button>
          </ion-card>

          <ion-card>
            <img src=".\assets\4.jpg">
            <ion-card-header>Townhouse</ion-card-header>
              <ion-card-subtitle>Type: Family</ion-card-subtitle>
              <ion-card-subtitle>Address: Mabalacat, Pampanga.</ion-card-subtitle>
              <ion-card-subtitle>Bedrooms: 2</ion-card-subtitle>
              <ion-card-subtitle>Bathroom: 1</ion-card-subtitle>
              <ion-card-subtitle>House:   36 m² </ion-card-subtitle>
              <ion-card-subtitle>House Status: For Sale</ion-card-subtitle>
              <p>₱ 550,000</p>
              <ion-button>SCHEDULE VISIT</ion-button>
            </ion-card>

            <ion-card>
              <img src=".\assets\5.jpg">
              <ion-card-header>Winter Model Unit</ion-card-header>
                <ion-card-subtitle>Type: Family</ion-card-subtitle>
                <ion-card-subtitle>Address: Clark Timog Residences, Angeles City.</ion-card-subtitle>
                <ion-card-subtitle>Bedrooms: 3</ion-card-subtitle>
                <ion-card-subtitle>Bathroom: 3</ion-card-subtitle>
                <ion-card-subtitle>House:  200 m² </ion-card-subtitle>
                <ion-card-subtitle>House Status: For Sale</ion-card-subtitle>
                <p>₱ 5,500,000</p>
                <ion-button>SCHEDULE VISIT</ion-button>
              </ion-card>

              <ion-card> 
                <img src=".\assets\6.jpg">
                <ion-card-header>Duplex</ion-card-header>
                  <ion-card-subtitle>Type: Family</ion-card-subtitle>
                  <ion-card-subtitle>Address: Angeles City.</ion-card-subtitle>
                  <ion-card-subtitle>Bedrooms: 3</ion-card-subtitle>
                  <ion-card-subtitle>Bathroom: 1</ion-card-subtitle>
                  <ion-card-subtitle>House: 55 m² </ion-card-subtitle>
                  <ion-card-subtitle>House Status: For Sale</ion-card-subtitle>
                  <p>₱ 1,100,000</p>
                  <ion-button>SCHEDULE VISIT</ion-button>
                </ion-card>

                <ion-card>
                  <img src=".\assets\7.jpg">
                  <ion-card-header>House Pampanga</ion-card-header>
                    <ion-card-subtitle>Type: Couple</ion-card-subtitle>
                    <ion-card-subtitle>Address: Pampanga</ion-card-subtitle>
                    <ion-card-subtitle>Bedrooms: 2</ion-card-subtitle>
                    <ion-card-subtitle>Bathroom: 1</ion-card-subtitle>
                    <ion-card-subtitle>House: 26 m² </ion-card-subtitle>
                    <ion-card-subtitle>House Status: For Sale</ion-card-subtitle>
                    <p>₱ 625,000</p>
                    <ion-button>SCHEDULE VISIT</ion-button>
                  </ion-card>

                  <ion-card>
                    <img src=".\assets\8.jpg">
                    <ion-card-header>House Pampanga</ion-card-header>
                      <ion-card-subtitle>Type: Single Family</ion-card-subtitle>
                      <ion-card-subtitle>Address: Pampanga</ion-card-subtitle>
                      <ion-card-subtitle>Bedrooms: 3</ion-card-subtitle>
                      <ion-card-subtitle>Bathroom: 1</ion-card-subtitle>
                      <ion-card-subtitle>House: 71 m² </ion-card-subtitle>
                      <ion-card-subtitle>House Status: For Sale</ion-card-subtitle>
                      <p>₱ 1,550,000</p>
                      <ion-button>SCHEDULE VISIT</ion-button>
                    </ion-card>

                    <ion-card>
                      <img src=".\assets\9.jpg">
                      <ion-card-header>House Duplex Pampanga</ion-card-header>
                        <ion-card-subtitle>Type: Single Family, Couple</ion-card-subtitle>
                        <ion-card-subtitle>Address: Pampanga</ion-card-subtitle>
                        <ion-card-subtitle>Bedrooms: 2</ion-card-subtitle>
                        <ion-card-subtitle>Bathroom: 1</ion-card-subtitle>
                        <ion-card-subtitle>House: 45 m² </ion-card-subtitle>
                        <ion-card-subtitle>House Status: For Sale, For rent</ion-card-subtitle>
                        <p>₱ 1,151,500</p>
                        <ion-button>SCHEDULE VISIT</ion-button>
                      </ion-card>

                      <ion-card>
                        <img src=".\assets\10.jpg">
                        <ion-card-header>Townhouse Pampanga Condo</ion-card-header>
                          <ion-card-subtitle>Type: Single Family</ion-card-subtitle>
                          <ion-card-subtitle>Address: Pampanga</ion-card-subtitle>
                          <ion-card-subtitle>Bedrooms: 2</ion-card-subtitle>
                          <ion-card-subtitle>Bathroom: 2</ion-card-subtitle>
                          <ion-card-subtitle>House: 90 m² </ion-card-subtitle>
                          <ion-card-subtitle>House Status: For Sale</ion-card-subtitle>
                          <p>₱ 16,500,000</p>
                          <ion-button>SCHEDULE VISIT</ion-button>
                          </ion-card>
                          
                          <ion-card>
                            <img src=".\assets\11.jpg">
                            <ion-card-header>House Pampanga</ion-card-header>
                              <ion-card-subtitle>Type: Family</ion-card-subtitle>
                              <ion-card-subtitle>Address: Angeles City, Pampanga</ion-card-subtitle>
                              <ion-card-subtitle>Bedrooms: 4</ion-card-subtitle>
                              <ion-card-subtitle>Bathroom: 4</ion-card-subtitle>
                              <ion-card-subtitle>House: 250 m² </ion-card-subtitle>
                              <ion-card-subtitle>House Status: For Rent</ion-card-subtitle>
                              <p>₱ 50,000</p>
                              <ion-button>SCHEDULE VISIT</ion-button>
                            </ion-card>
</ion-content>
