<ion-header>
  <ion-toolbar>
    <ion-title>
      wwww.GameApp.com
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
     <img src=".\assets\GarenaWorld.png">
     Call of Duty: Mobile was our pick for the best Android game in 2019. We usually wait a while before adding a game, but Call of Duty: 
     Mobile is so intensely popular with such a high rating that we added it more quickly than usual.
      The game has both a normal FPS online PvP mode along with a 100-player battle royale. 
      That puts it in a rare category where it does battle royale like PUBG Mobile, but also regular FPS PvP like Critical Ops or Modern Combat.
       There is a surprising amount of stuff to do. It is a free to play game, but most of the in-game purchases are cosmetic items.
      You can find some more excellent FPS games here or some general shooting games here if you want more options.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\Genshin.jpg">
     Genshin Impact is an action RPG game with gacha mechanics. 
     The game was also our pick for the best game of 2020. 
     It received wide critical acclaim upon its release for its impressive visuals and excellent game play.
      It looks and acts a bit like Zelda: Breath of the Wild, but nobody seems to really mind. 
      The game does have a party system and you summon new characters through a gacha system similar to other gachas. 
      However, the visual elements, game play mechanics, and the completely open world (complete with glider) make the game feel a lot less restrictive than most in the genre. 
      Unless the developer messes this one up, it should remain excellent for a long time.
      Of course, there are other excellent gacha games here if you want to see more.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\Grid.jpg">
     GRID Autosport launched in 2019 and immediately became one of the best racing games for Android. 
     The Riptide GP and Asphalt franchises are also quite good, but GRID Autosport hits almost all of the check marks.
      It’s a premium game with no in-app purchases or advertising. The game also boasts excellent graphics, excellent controls, hardware controller support, tons of content to play through, tons of cars to unlock, and a variety of racing styles. 
      The game is a bit expensive and it’s missing some smaller things racing fanatics tend to like, but it’s otherwise one of the best racing experiences in the Play Store. Our only real gripe is the lack of updates.
      You can find more great racing games (including the popular Asphalt series) here.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\Gris.jpg">
     GRIS is an adventure game with puzzle-platformer elements. This is one of those ones you know is good just by looking at it. 
     The game follows Gris, a young girl lost in her own world while dealing with the painful experiences in her life. 
     It doesn’t have anything like player death or anything like that. You simply explore the world, solve some puzzles, and enjoy.
      The game features almost no text and chooses instead to tell its story through visual elements instead.
      It’s an artsy game, but one of the best in its genre. You can find more outstanding adventure games here.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
     <img src=".\assets\Legends.png">
     Legends of Runeterra is one of the newer Android games on this list.
      It’s an online battler similar in scope to games like Hearthstone. 
      Players collect cards and heroes, then build decks from those cards and heroes. 
      You then battle opponents online. The game removes as much of the randomness as it can and it leads to a good game play experience overall. 
      The game includes 24 champions, a bunch of cards, and you can invite friends to duel with you as well. Hearthstone donned this list for a long time, but it’s time for a new champion in this space. 
     You can find more great card dueling games here.
    </ion-card-content>
  </ion-card>
</ion-content>
