<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="{{ listing.img }}"></ion-img>
    <ion-card-header>{{ listing.header | uppercase }}</ion-card-header>

    <ion-card-subtitle>No.{{ listing.id }}</ion-card-subtitle>
      <ion-card-subtitle>Type: {{ listing.type }}</ion-card-subtitle>
      <ion-card-subtitle>Address: {{ listing.address }}</ion-card-subtitle>
      <ion-card-subtitle>Bedroom: {{ listing.bedroom }}</ion-card-subtitle>
      <ion-card-subtitle>Bathroom: {{ listing.bathroom }}</ion-card-subtitle>
      <ion-card-subtitle>Kitchen: {{ listing.kitchen }}</ion-card-subtitle>
      <ion-card-subtitle>House Status: {{ listing.houses }}</ion-card-subtitle>
      <p>₱ {{ listing.price }}</p>
    <ion-button>DELETE SCHEDULE</ion-button>
    </ion-card>
</ion-content>
