<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-toolbar>
    <ion-card-title>Player UID 456</ion-card-title>
  </ion-toolbar>
  </ion-card-header>

  <ion-card-content>
    Name: Seong Gi-hun
  </ion-card-content>
   <ion-card-content>
    Age:48
  </ion-card-content>
    <ion-card-content>
    Gi-hun is a gambling addict who works as a chauffeur and lives with his elderly mother. 
    He enters the game with the hope of making enough money to keep his 10-year-old daughter from moving to America with her mom and stepdad.
  </ion-card-content>
</ion-card>
</ion-content>