<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Game History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        Game
        <div class="ion-text-uppercase">
          Red Light & Green Light
        </div>
      </ion-col>
     

      <ion-col size="4">
        Win/Lose
        <div class="ion-text-uppercase">
          Win
        </div>
      </ion-col>


      <ion-col size="4">
        Time Survive
        <div class="ion-text-lowercase">
          00:01 
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
