<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>HOME</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>ABOUT</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="listing-schedule">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>SCHEDULE</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>
