<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="caret-up-outline"></ion-icon>
        <ion-label>SIGN-UP</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="page1">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>LOG-IN</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="page2">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>HOME</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="page3">
        <ion-icon name="browsers-outline"></ion-icon>
        <ion-label>ABOUT</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="page4">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>Game Developer</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>
